GITHUB_TOKEN=your_github_token_here
SOURCE_REPO_URL=https://github.com/cortega26/noticiencias_news_collector.git
TARGET_REPO_URL=https://github.com/cortega26/noticiencias.git
OLLAMA_API_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=llama3.3
